$fs-l : 2rem;
$fs-m : 1.2rem;
$fs-s : 1rem;

.tl-cf:after{
  content:"";
  display: block;
  clear:both;
}
.tl-fl{
  float:left;
}
.tl-fr{
  float:right;
}
.tl-center{
  text-align: center;
}
.tl-yellow{
  color:#fdcb10;
}
.tl-grey-1{
  color:#333;
}
.tl-grey-2{
  color:#666;
}
.tl-grey-3{
  color:#999;
}

.tl-shadow-1{
  box-shadow:0 0 0.5rem 0 #d4d4d4;
}

.tl-container{
  margin-top:41px;
}

.mint-header{
  background:linear-gradient(to right,#fed641,#ffc000 50%, #f6739d);
}

.mint-button{
  height:2rem;
  font-size:1rem;
}
.mint-button--primary {
  color: #fff;
  background:linear-gradient(to right,#fed641, #ffc000);
}
.mint-button--primary.tl-button-shadow{
  box-shadow:0 0 0.2rem 0.1rem #fdcb10;
}
.mint-button.tl-button-round{
  border-radius:2rem;
}


